.singleCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  max-width: 250px;
  word-break: break-word;
}
