.Header {
  position: relative;
  box-sizing: border-box;
  background-color: var(--green);
  height: 200px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 1.5rem;
  transition: all 500ms ease;
  /* padding-top: 90px; */
  /* font-family: Muli; */
}

.date {
  position: absolute;
  bottom: 70px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backButton {
  font-size: 1rem;
  color: var(--white);
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  animation-name: fade;
  animation-duration: 300ms;
}

.backButton p {
  margin-left: -5px;
}

.Link {
  text-decoration: none;
  color: inherit;
}
