.App {
  font-family: 'Muli', sans-serif;
}

.container {
  background-color: var(--white);
  position: absolute;
  top: 150px;
  right: 0;
  left: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}

.component-container {
  padding: 15px 25px 15px 15px;
}

.route-enter {
  height: 100%;
  transform: translateX(100%);
}
.route-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.route-exit {
  opacity: 1;
  transform: translateX(0);
}
.route-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 300ms transform 300ms;
}
