.App {
  font-family: 'Muli', sans-serif;
}

.container {
  background-color: var(--white);
  position: absolute;
  top: 150px;
  right: 0;
  left: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}

.component-container {
  height: 54vh;
  padding: 15px 25px 15px 15px;
  overflow: auto;
}
